apiVersion: v1
kind: Service
metadata: 
  name: simple-app
  labels:
    app: simple-app
spec:
  type: ClusterIP
  selector:
    app: simple-app
  ports:
  - name: http
    port: 80
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata: 
  name: simple-app
  labels:
    app: simple-app
spec:
  type: LoadBalancer
  selector:
    app: simple-app
  ports:
  - name: http
    port: 80
    targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: simple-app
  labels:
    app: simple-app
spec:
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      name: simple-app
      labels:
        app: simple-app
    spec:
      containers:
        - name: simple-app
          image: donamaxii/simple-app:v2
          ports:
          - containerPort: 8080
          resources:
            requests:
              cpu: 100m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
